* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
button {
  margin-right: 5px;
  background-color: darkcyan;
  color: white;
  min-width: 100px;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  box-shadow: none;
}
ul {
  list-style: none;
  padding: 0;
}
input { 
  line-height: 1.5em;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #cccccc;
  margin: 0 ;
  margin-right: 10px;
  outline: none;
  width: 200px;
}
li {
  padding-bottom: 10px;
}
